<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.cloud.youxia.mapper.Example2ProductMapper">
    <update id="updateGoodNum" parameterType="com.alibaba.cloud.youxia.bo.Example2ProductBo">
      update example2_product set
        num=num-1
       where good_id=#{goodId}
    </update>

    <select id="queryGoodInfoByGoodId" resultType="com.alibaba.cloud.youxia.entity.Example2ProductEntity"
            parameterType="com.alibaba.cloud.youxia.bo.Example2ProductBo">
       select * from example2_product
          where good_id=#{goodId}
    </select>

</mapper>